{% extends 'base.html' %}

{% block title %}

    Lista de Prescrições - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Prescrições</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'prescricao:add_prescricao' %}">Cadastro de nova prescrição</a>
                <br />
                <br />  
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Médico</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Medicamentos</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for prescricao in prescricao %}
                        <tr>
                            <th scope="row">{{ prescricao.id }}</th>
                            <td>{{ prescricao.medico }}</td>
                            <td>{{ prescricao.description }}</td>
                            <td>{{ prescricao.medicamento }}</td>
                            <td>
                                <a href="{% url 'prescricao:edit_prescricao' prescricao.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>    
                                <a href="{% url 'prescricao:delete_prescricao' prescricao.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}