{% extends 'base.html' %}

{% block title %}

    Lista de Clientes - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Consultas</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'consulta:add_consulta' %}">Nova Consulta</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Turno</th>
                    <th scope="col">Hora</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for consulta in consultas %}
                        <tr>
                            <th scope="row">{{ consulta.id }}</th>
                            <td>{{ consulta.address }}</td>
                            <td>{{ consulta.cell_phone }}</td>
                            <td>{{ consulta.turno }}</td>
                            <td>{{ consulta.hora }}</td>
                            <td>
                                <a href="{% url 'consulta:edit_consulta' consulta.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'consulta:delete_consulta' consulta.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}